body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #12182e;
    color: #f09204;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 150px;
    height: 85px;
    margin-left: -10%;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans';
    font-size: 1.3rem;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: #f4f2f2;
    text-decoration: none;
    padding: 10px 20px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}
